@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    @media screen and (max-width: 585px) {
        height: auto;
        padding-bottom: 150px;
        margin-top: 30px;
    }
    @media screen and (max-height: 770px) {
        height: auto;
        padding-bottom: 150px;
        margin-top: 30px;
    }
    .__creator{
        display: flex;
        gap: 30px;
        .__text{
            flex: 1;
            align-self: center;
            padding: 0 15px;
            .__prof{
                margin-bottom: 50px;
                h2{
                    margin: 0;
                }
                p{
                    margin: 0;
                }
            }
            .__appeal{
                margin-bottom: 50px;
                font-family: 'Noto Sans JP', sans-serif;
                h3{
                    margin: 0;
                    font-weight: 500;
                }
                p{
                    margin: 0;
                    font-weight: 200;
                    font-size: 14px;
                }
                table{
                    margin-top: 30px;
                    width: 100%;
                    font-size: .8rem;
                    tr {
                        border-bottom: 1px solid #000;
                        display: block;
                        margin-bottom: 5px;
                        th {
                            text-align: justify;
                            width: 200px;
                        }
                    }
                }             
            }
            .works{
                h4{
                    font-family: 'Noto Sans JP', sans-serif;
                }
            }
        }
    }
}