@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'RocknRoll One', sans-serif;
  padding: 0;
}
.leaflet-container {
  height: 100vh;
}
.leaflet-popup-content-wrapper {
  width: 100%;
  max-width: 100%;
}
.leaflet-popup-content {
  margin: 0 auto;
  padding: 20px;
  margin: 0 !important;
}