@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'RocknRoll One', sans-serif;
  padding: 0;
}
.leaflet-container {
  height: 100vh;
}
.leaflet-popup-content-wrapper {
  width: 100%;
  max-width: 100%;
}
.leaflet-popup-content {
  margin: 0 auto;
  padding: 20px;
  margin: 0 !important;
}
.leaflet-popup-content a {
  margin: 1.3em 0;
}
img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive{
  border-radius: 100%;
  box-shadow: 0 0 0 0 rgba(67,172,67,.5);
  -webkit-animation: currentBright 1.2s linear infinite;
  animation: currentBright 1.2s linear infinite
}

@-webkit-keyframes currentBright {
  50% {
    box-shadow: 0 0 0 3px rgba(67,172,67,.5)
  }

  100% {
      box-shadow: 0 0 0 3px rgba(67,172,67,0)
  }
}

@keyframes currentBright {
  50% {
      box-shadow: 0 0 0 3px rgba(67,172,67,.5)
  }

  100% {
      box-shadow: 0 0 0 3px rgba(67,172,67,0)
  }
}
